/*[default]*/
/*aws_access_key_id=AKIAWUNOVBZ6BF3QYSGO*/
/*aws_secret_access_key=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*/
/*region=us-east-1*/
[default]
aws_access_key_id=AKIATAWU67EIZTF3OTGY
aws_secret_access_key=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
region=eu-central-1
