<div>
  <!-- app/views/dashboard/index.html.erb -->
  <%= link_to "Sign Out", destroy_account_session_path, data: { "turbo-method": :delete } %>
  <!-- END app/views/dashboard/index.html.erb -->
</div>
